@mixin button-container {
  height: 100%;
  width: 50%;
}
@mixin frame {
  background-color: lighten (#000000, 10%);
  border: 1px solid gray;
  padding: 50px;
  margin: auto;
  width: 800px;
}

.calculator {
  &-frame {
    @include frame;
    height: 400px;
    margin-top: 20px;
  }

  &-commands {
    width: 100%;
    margin: auto;
    display: flex;
  }

  &-operations {
    @include button-container;
    justify-content: center;
  }

  &-numbers {
    @include button-container;
  }

  &-history {
    @include frame;
    min-height: 100px;
  }

  &-history h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-history p {
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

#input {
  width: 80%;
  height: 32px;
  border-radius: 2px;
  outline: 0;
  margin-right: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}